/* Fonts */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
.section-header {
  text-align: center;
}
.section-header-light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.8rem;
}
.section-header p {
  font-size: 1.4rem;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
/* Main */
.main {
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 7rem;
  margin-bottom: 10rem;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-content span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #70c849;
  text-align: center;
}
.main-content span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-content h2 {
  margin-top: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form h2 {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.7rem;
  text-transform: none;
  height: 3.5rem;
  margin-bottom: 4rem;
}
.main-form .main-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 1.5rem;
  margin: 2rem 0;
}
.main-form label {
  position: absolute;
  padding: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  width: 100%;
  line-height: 3rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.main button:hover {
  background-color: #df9d00;
}
.header {
  height: 7rem;
}
.phone-block {
  text-align: right;
}
.header a {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  text-decoration: none;
  color: #292929;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.button {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #ffb504;
  border: none;
  padding: 1.3rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
/* Slider features */
.features {
  margin-bottom: 15rem;
}
.features-header {
  margin-bottom: 7rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 85%;
  font-size: 1.5rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
/* Секция с ценами */
.price {
  background: #70c849 url(../img/prices/prices-bg.png) center;
  padding: 11rem 0;
  text-align: center;
}
.price-btn {
  margin-top: 2rem;
  line-height: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-subtitle {
  margin-bottom: 7rem;
}
.price-tag {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-tag strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/prices/checked.png) center no-repeat;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}
.price-block {
  padding: 3rem 2.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 50rem;
}
.price-block h4 {
  font-size: 1.8rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 2rem;
}
.price-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
/* Slick slider */
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  outline: none;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/back.svg) center no-repeat;
  background-size: 100%;
}
.next {
  right: 0;
  background: url(../img/features/next.svg) center no-repeat;
  background-size: 100%;
}
/* Popup settings */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-dialog {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1rem 5rem 3rem;
}
.popup-form {
  margin: 2rem 0;
  padding: 0;
}
.popup-close {
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border: none;
  position: absolute;
  background: transparent;
  top: -1rem;
  right: -4rem;
  color: #ffffff;
}
.popup-header {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.7rem;
  text-transform: none;
  height: 3.5rem;
  margin-bottom: 7rem;
  color: #292929;
}
.popup-content {
  text-align: center;
}
@media (max-width: 1199px) {
  .price-block {
    padding: 3rem 1.5rem;
    min-height: 54rem;
  }
  .price-block h4 {
    font-size: 1.6rem;
  }
}
@media (max-width: 991px) {
  .phone-block {
    text-align: center;
  }
  .main-content {
    text-align: center;
  }
  .main-content h2 {
    margin-bottom: 2.2rem;
  }
  .main-content-subtitle {
    margin-bottom: 2.2rem;
  }
  .main {
    background-position: top right;
  }
  .price {
    padding-top: 4rem;
  }
  .price-button {
    text-align: center;
  }
  .price-subtitle {
    margin-bottom: 0;
  }
  .price-block {
    margin-top: 2rem;
  }
  .price-block img {
    display: inline-block;
    text-align: center;
    padding: 0;
  }
  .price-block span {
    display: block;
  }
  .section-header-light {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content h1 {
    margin-top: 4rem;
  }
  .main {
    background-position: top left;
  }
}
