
body{
	text-align: center;
	height: 100%;
	background: #ffffff url(../img/bg.png) center center no-repeat fixed;
  	background-size: cover;
  	padding-bottom: 5rem;
  	text-decoration: none;
}
button, a{
	outline: none;
	text-decoration: none;
}
.header{
	margin-top: 5rem;
	color: #0bbaf0;
	line-height: 5px;
}

.header-title{
	font-size: 36px;
}
.header-subtitle{
	font-size: 24px;
	margin-bottom: 2.5rem;
}

.answers{
	max-width: 860px;
	display: inline-block;
}
.card-body{
	text-align:justify;
	font-size: 22px;
	color: #636363;
}
.button{
	font-size: 23px;
}
.hr{
	margin-bottom: 2.5rem;
	color: #cbcdce;
	opacity: 0.5;
}
.card{
	margin: 5px 0;
}
.card-header{
	background-color: #0bbaf0;
	border:none;
	text-decoration: none;
}
.btn-link {
	color:#fff;
	text-decoration: none;
}
.btn-link:hover {
	color:#fff;
	text-decoration: none;
}